.page {
    display: table;
    margin: auto;
    text-align: center;
}

.centered_container {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    height: auto;
    margin: auto;
}

.text_container {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 500px;
    padding: 0 5%;
    text-align: center;
}

.left_aligned_text {
    margin-left: 0;
    color: white;
    font-size: 20pt;
    font-family: "Jura", sans-serif;
    text-align: left;
}

.category {
    margin-left: 0;
    color: white;
    font-size: 25pt;
    font-family: "Jura", sans-serif;
    text-align: left;
}

.title {
    color: white;
    text-align: center;
    font-size: 50pt;
    font-family: "Jura", sans-serif;
    margin: 10px;
}

.title2 {
    color: white;
    text-align: center;
    font-size: 30pt;
    font-family: "Jura", sans-serif;
    margin: 10px;
}

.subtitle {
    color: white;
    text-align: center;
    font-size: 20pt;
    font-family: "Jura", sans-serif;
}

.big_margin {
    margin: 30px;
}

.vertical_margin {
    margin: 20px 0;
}

.external_link {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 40px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.external_link:hover {
    opacity: 0.6;
}

.github {
    background: url("icons/github_icon_light.png") no-repeat center center;
    background-size: contain;
}

.linkedin {
    background: url("icons/linkedid_logo_white.png") no-repeat center center;
    background-size: contain;
}

.youtube {
    background: url("icons/youtube_logo_white.png") no-repeat center center;
    background-size: contain;
}

.curved_list {
    display: table-cell;
    background: url('https://raw.githubusercontent.com/Telenav/NodeFlow/master/gif/demo.gif') no-repeat center center;
}

.expandable_cell {
    position: absolute;
    cursor: pointer;
}

.expandable_cell_preview {
    position: absolute;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}
.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.emptyCellText {
    font-size: 250%;
    font-family: "Jura", sans-serif;
}

.emptyCellTextSmall {
    color: white;
    font-size: 150%;
    font-family: "Jura", sans-serif;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg)
    }
}

.gear {
    background: url("icons/settings.png") no-repeat center center;
    background-size: contain;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 40px;
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pager {
    width: 40px;
    height: auto;
    top: 50%;
    transform: translate(0%, -50%);
    position: fixed;
    float: right;
    right: 0;
    z-index: 1;
}

.page_indicator {
    display: block;
    width: 10px;
    height: 10px;
    margin: 10px;
    background: #999999;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

body {
    background: #222222 url("assets/patterns/classy-fabric.png") repeat;
    margin: 0;
    overflow: hidden;
}

.chart {
    border: 1px solid white;
}

.button {
    background-color: transparent; /* Green */
    display: block;
    border: 1px solid white;
    border-radius: 5%;
    color: white;
    width: 100px;
    height: 40px;
    margin: 10px auto;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #004a76;
    transition: all 0.5s ease;
}

.circularTable {
    display: table;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}

.circularCell {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.circularCanvas {
    display:block;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.circularLabel {
    margin: auto;
    font-size: 175%;
    font-family: "Jura", sans-serif;
    color: #FFD034;
}

.placeholderCell:hover {
    background-color:rgba(0,0,0,0.5);
}

.violet {
    background: #443266 url('assets/patterns/cross-stripes.png') repeat;
}

.gray {
    background: #C3C3E5 url('assets/patterns/brushed-alum-dark.png') repeat;
}

.purple {
    background: #8C489F url('assets/patterns/gradient-squares.png') repeat;
}

.orange {
    background: #FF9900 url('assets/patterns/carbon-fibre-v2.png') repeat;
}
.darkBlue {
    background: #3366CC url('assets/patterns/classy-fabric.png') repeat;
}

.blue {
    background: #6599FF url('assets/patterns/black-linen-2.png') repeat;
}

.b1 {
    color: white;
    background: #01243B url('assets/patterns/black-linen-2.png') repeat;
}

.b2 {
    color: white;
    background: #336699 url('assets/patterns/black-linen-2.png') repeat;
}

.b3 {
    color: white;
    background: #5288DB url('assets/patterns/black-linen-2.png') repeat;
}

.o1 {
    color: white;
    background: #BF381A url('assets/patterns/black-linen-2.png') repeat;
}

.o2 {
    color: white;
    background: #CC6633 url('assets/patterns/black-linen-2.png') repeat;
}

.o3 {
    color: white;
    background: #FF9900 url('assets/patterns/black-linen-2.png') repeat;
}

.g1 {
    color: white;
    background: #336633 url('assets/patterns/black-linen-2.png') repeat;
}

.g2 {
    color: white;
    background: #669933 url('assets/patterns/black-linen-2.png') repeat;
}

.g3 {
    color: white;
    background: #66CC35 url('assets/patterns/black-linen-2.png') repeat;
}

.linkGridCell {
    z-index: 1;
    position: relative;
    display: table-cell;
    font-size: 30pt;
    font-family: "Jura", sans-serif;
    transition: all 1s ease;
    color: #007cc5;
    text-decoration:none;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.drizzle {
    font-size: 200%;
    opacity: 0;
    background: white url("icons/placeholders/Wet-96.png") no-repeat center;
}

.drizzle:hover {
    opacity: 1;
    background: white url("icons/placeholders/Wet-96.png") no-repeat bottom;
}

.droplet {
    position: absolute;
    font-size: 15pt;
    font-family: "Jura", sans-serif;
    color: white;
}