.horizontally_centered {
    display: table;
    margin: 0 auto;
}

#outer {
    text-align: center;
    width: 800px;
}

#controls {
    display: inline-block;
    /*margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;*/
}

.main {
    /*background: #222222;*/
    height: 600px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    align-content: center;
    width: auto;
}

.maint {
    /*background: #003b64;*/
    height: 600px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}

.centered {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: white;
    text-align: center;
    font-size: 40pt;
    font-family: "Trebuchet MS", sans-serif;
    margin: 10px;
}

.title2 {
    color: white;
    text-align: center;
    font-size: 30pt;
    font-family: "Trebuchet MS", sans-serif;
    margin: 10px;
}

.subtitle {
    color: white;
    text-align: center;
    font-size: 15pt;
    font-family: "Trebuchet MS", sans-serif;
    margin: 10px;
}

.big_margin {
    margin: 30px;
}

.external_link {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 40px;
    text-decoration: none;

}

.github {
    background: url("icons/github_icon_light.png") no-repeat center center;
    background-size: contain;
}

.linkedin {
    background: url("icons/linkedid_logo_white.png") no-repeat center center;
    background-size: contain;
}

.youtube {
    background: url("icons/youtube_logo_white.png") no-repeat center center;
    background-size: contain;
}

.pager {
    width: 40px;
    height: auto;
    top: 50%;
    transform: translate(0%, -50%);
    position: fixed;
    float: right;
    right: 0;
    z-index: 1;
}

.page_indicator {
    display: block;
    width: 10px;
    height: 10px;
    margin: 10px;
    background: #999999;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

body {
    background: #222222;
    margin: 0;
    overflow: hidden;
}

.chart {
    border: 5px solid #666666;
}

.button {
    background-color: transparent; /* Green */
    display: table-cell;
    border: 1px solid #666666;
    border-radius: 5%;
    color: white;
    width: 100px;
    height: 40px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}